@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Volkhov:400,700);


	body {			margin:0 auto; padding:0;
					overflow-y: scroll;
					font-family: "Georgia", Tahoma, Sans-Serif;			
					background: #e1e5e8;
					background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(-45deg, #87e0fd 0%, #a5deef 40%, #05abe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#a5deef), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #87e0fd 0%,#a5deef 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #87e0fd 0%,#a5deef 40%,#05abe0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #87e0fd 0%,#a5deef 40%,#05abe0 100%); /* IE10+ */
background: linear-gradient(135deg, #87e0fd 0%,#a5deef 40%,#05abe0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}


  .CodeRay { background: rgba(255, 255, 255, 0.75); }
  .row { overflow: visible }
  .project-header { margin-bottom: 1em; }
  
  @media screen and (max-width: 767px) {
    .bilder li:nth-child(n+5) {
      display: none;
    }
  }

    ul.bilder li { display: inline; }
  	ul.bilder a { background: #fff; display: inline; float: left; margin: 0 0 27px 30px; width: auto; padding: 10px 10px 15px; text-align: center; font-family: "Marker Felt", sans-serif; text-decoration: none; color: #333; font-size: 18px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transform: rotate(-2deg); -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(-2deg); }
    ul.bilder li {
      padding-left: 0;
    }
    @media screen and (max-width: 768px) {
      ul.bilder li a {
        margin-left: 0;
      } 
    }
		ul.bilder img { display: block; width: 190px; margin-bottom: 12px; }
		ul.bilder a:after { content: attr(title); }
		
		ul.bilder li:nth-child(even) a { -webkit-transform: rotate(2deg);  -moz-transform: rotate(2deg); }
		ul.bilder li:nth-child(3n) a { -webkit-transform: none; position: relative; top: -5px;  -moz-transform: none; }
		ul.bilder li:nth-child(5n) a { -webkit-transform: rotate(5deg); position: relative; right: 5px;  -moz-transform: rotate(5deg); }
		ul.bilder li:nth-child(8n) a { position: relative; right: 5px; top: 8px; }
		ul.bilder li:nth-child(11n) a { position: relative; left: -5px; top: 3px; }
		
		ul.bilder li.messy a {
      margin-top: -400px;
      position: relative;
      left: 160px;
    }
		
		ul.bilder li a:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5; }

	
			/** Anger sidans storlek och placering*
---------------------------------------------------------------------- */
	#page {	    		width:90%; margin:0 auto;
						min-height:100%; 
						height:auto !important;  
						height: 100%; 
						}
	header {height:100px;}
	#column-right {		float:right; width:20%;}
	#column-left {		width:80%; }
	#footer {			height:50px;  clear:both; width:80%; text-align:center; line-height:50px;}